## This notebook will be used for the capstone coursera project

In [3]:
##importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
np.random.seed(7)

In [4]:
print('Hello Capstone project course!')

Hello Capstone project course!

In [5]:
#import the data from the folder
df = pd.read_csv("/home/sahada/Downloads/Data-Collisions.csv")

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
#viewing the first five rows of the data
df.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [7]:
#viewing the shape of the datasets
df.shape

(194673, 38)

In [8]:
#viewing the types of each feature or attribute
df.dtypes

SEVERITYCODE        int64
X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

In [9]:
#dropping some columns like the date of the accident, the junction type, the code given to the collision and others that doesnot have any impact on the collision
df = df.drop(["EXCEPTRSNCODE", "EXCEPTRSNDESC", "SDOT_COLCODE", "SDOT_COLDESC","INCDATE","X","Y",
              "ST_COLCODE","ST_COLDESC","JUNCTIONTYPE","INTKEY","CROSSWALKKEY","SEGLANEKEY",
              "PEDROWNOTGRNT","OBJECTID","COLDETKEY","REPORTNO","STATUS","ADDRTYPE","LOCATION"
             ,"SEVERITYDESC","INCDTTM","JUNCTIONTYPE","INATTENTIONIND","UNDERINFL"], axis=1)

In [10]:
df.shape  #deleted 23 columns that are not needed

(194673, 14)

In [11]:
df.isnull().values.any() #checking for no entries

True

In [12]:
df.head() #viewing the first five rows

,SEVERITYCODE,INCKEY,SEVERITYCODE.1,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,WEATHER,ROADCOND,LIGHTCOND,SDOTCOLNUM,SPEEDING,HITPARKEDCAR
0,2,1307,2,Angles,2,0,0,2,Overcast,Wet,Daylight,NaN,NaN,N
1,1,52200,1,Sideswipe,2,0,0,2,Raining,Wet,Dark - Street Lights On,6354039.0,NaN,N
2,1,26700,1,Parked Car,4,0,0,3,Overcast,Dry,Daylight,4323031.0,NaN,N
3,1,1144,1,Other,3,0,0,3,Clear,Dry,Daylight,NaN,NaN,N
4,2,17700,2,Angles,2,0,0,2,Raining,Wet,Daylight,4028032.0,NaN,N

In [13]:
#counting the nan entries in the speeding column. 
df['SPEEDING'].isnull().sum()

185340

In [14]:
#we drop the speeding column since it has a lot of nan entries
df = df.drop(['SPEEDING'],axis=1)

In [15]:
#view the shape of the data after deleting some columns
df.shape

(194673, 13)

In [16]:
#checking for nan entries in the severitycode column
df['SEVERITYCODE'].isnull().sum()

0

In [17]:
#dropping the inckey column which is the key for the accident
df = df.drop(['INCKEY'],axis=1)

In [18]:
df.shape #viewing the shape

(194673, 12)

In [19]:
#checking for nan entries in the severitycode.1 column
df['SEVERITYCODE.1'].isnull().sum()

0

In [20]:
#checking for nan entries in the collision type column
df['COLLISIONTYPE'].isnull().sum()

4904

In [21]:
#checking for nan entries in the person count column
df['PERSONCOUNT'].isnull().sum()

0

In [22]:
df.dtypes

SEVERITYCODE        int64
SEVERITYCODE.1      int64
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
WEATHER            object
ROADCOND           object
LIGHTCOND          object
SDOTCOLNUM        float64
HITPARKEDCAR       object
dtype: object

In [23]:
#checking the summary of the collision type column
df['COLLISIONTYPE'].describe()

count         189769
unique            10
top       Parked Car
freq           47987
Name: COLLISIONTYPE, dtype: object

In [24]:
#checking for nan entries in the sdotcolnum column
df['SDOTCOLNUM'].isnull().sum()

79737

In [25]:
#checking the summary of the light condition column
df['LIGHTCOND'].describe()

count       189503
unique           9
top       Daylight
freq        116137
Name: LIGHTCOND, dtype: object

In [26]:
#checking the summary of the road condition column
df['ROADCOND'].describe()

count     189661
unique         9
top          Dry
freq      124510
Name: ROADCOND, dtype: object

In [27]:
#checking the summary of the weather column
df['WEATHER'].describe()

count     189592
unique        11
top        Clear
freq      111135
Name: WEATHER, dtype: object

In [28]:
#checking for nan entries in the hit parked car column
df['HITPARKEDCAR'].isnull().sum()

0

In [29]:
#checking for nan entries in the pedestrian count column
df['PEDCOUNT'].isnull().sum()

0

In [30]:
#checking for nan entries in the cyclers count column
df['PEDCYLCOUNT'].isnull().sum()

0

In [31]:
#checking for nan entries in the vehicle count column
df['VEHCOUNT'].isnull().sum()

0

In [32]:
#checking for nan entries in the weather column
df['WEATHER'].isnull().sum()

5081

In [33]:
#checking for nan entries in the road condition column
df['ROADCOND'].isnull().sum()

5012

In [34]:
#dropping all rows with any missing values
df=df.dropna()

In [35]:
#viewing the shape of the data after dropping missing values
df.shape

(114837, 12)

In [36]:
#checking if there are any nan entries in the datasets
df.isnull().sum()

SEVERITYCODE      0
SEVERITYCODE.1    0
COLLISIONTYPE     0
PERSONCOUNT       0
PEDCOUNT          0
PEDCYLCOUNT       0
VEHCOUNT          0
WEATHER           0
ROADCOND          0
LIGHTCOND         0
SDOTCOLNUM        0
HITPARKEDCAR      0
dtype: int64

In [37]:
df.dtypes

SEVERITYCODE        int64
SEVERITYCODE.1      int64
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
WEATHER            object
ROADCOND           object
LIGHTCOND          object
SDOTCOLNUM        float64
HITPARKEDCAR       object
dtype: object

In [38]:
#checking the summary for the severitycode column
df["SEVERITYCODE"].value_counts()

1    81352
2    33485
Name: SEVERITYCODE, dtype: int64

In [39]:
#replacing the values 1 with 0 and 2 with 1 in the severity code which is the target since we want to use logistic regression
df["SEVERITYCODE"].replace({1: 0, 2:1}, inplace=True)

In [40]:
#checking the summary for the severitycode column
df["SEVERITYCODE"].value_counts()

0    81352
1    33485
Name: SEVERITYCODE, dtype: int64

In [41]:
df.head() #viewing the first five rows

,SEVERITYCODE,SEVERITYCODE.1,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,WEATHER,ROADCOND,LIGHTCOND,SDOTCOLNUM,HITPARKEDCAR
1,0,1,Sideswipe,2,0,0,2,Raining,Wet,Dark - Street Lights On,6354039.0,N
2,0,1,Parked Car,4,0,0,3,Overcast,Dry,Daylight,4323031.0,N
4,1,2,Angles,2,0,0,2,Raining,Wet,Daylight,4028032.0,N
6,0,1,Angles,2,0,0,2,Raining,Wet,Daylight,8344002.0,N
8,0,1,Parked Car,2,0,0,2,Clear,Dry,Daylight,6166014.0,N

In [42]:
#viewing the object types for the columns
df.dtypes

SEVERITYCODE        int64
SEVERITYCODE.1      int64
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
WEATHER            object
ROADCOND           object
LIGHTCOND          object
SDOTCOLNUM        float64
HITPARKEDCAR       object
dtype: object

### One hot encoding of all the categorical variables, i.e collison type, weather, road condition,light condition and whether or not a  parked car was hit

In [43]:
col = pd.get_dummies(df.COLLISIONTYPE)
df =pd.concat([df, col], axis=1)

In [44]:
wea = pd.get_dummies(df.WEATHER)
df =pd.concat([df, wea], axis=1)

In [45]:
rd = pd.get_dummies(df.ROADCOND)
df = pd.concat([df, rd], axis=1)

In [46]:
lt = pd.get_dummies(df.LIGHTCOND)
df =pd.concat([df, lt], axis=1)

In [47]:
hd = pd.get_dummies(df.HITPARKEDCAR)
df = pd.concat([df, hd], axis=1)

In [48]:
#view shape after one hot encoding
df.shape

(114837, 51)

In [49]:
#dropping the categorical columns that were one hot encoded
df = df.drop(['HITPARKEDCAR','WEATHER','COLLISIONTYPE','ROADCOND','LIGHTCOND'],axis=1)

In [50]:
df.shape #veiw shape after dropping

(114837, 46)

## Running a logistic regression model with the raw datasets without weights

In [51]:
df['SEVERITYCODE'].value_counts() #checking the summary of the target variable

0    81352
1    33485
Name: SEVERITYCODE, dtype: int64

In [52]:
Y = df['SEVERITYCODE'] #assigning the target to Y

In [53]:
X = df.drop(['SEVERITYCODE'],axis=1)  #assigning all the features to X
X.shape

(114837, 45)

In [54]:
#Splitting the datasets into training and testing of 70% and 30% respectively
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)
model = LogisticRegression()

In [55]:
#checking the train shape
X_train.shape

(80385, 45)

In [56]:
model.fit(X_train,Y_train) #fitting the logistic regression model on the training data

/usr/lib/python3/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [57]:
#find the accuracy of the model
model.score(X_test, Y_test)

0.7101474515267618

In [58]:
#checking the confusion model, this was expected as our datasets was imbalanced 
# towards the first class so it only predicted that class
confusion_matrix(Y_test, model.predict(X_test))

array([[24466,     0],
       [ 9986,     0]])

## Running the model with weights now

In [64]:
w = {0:2.4, 1:1}
model = LogisticRegression(class_weight=w)

In [65]:
model.fit(X_train,Y_train)

/usr/lib/python3/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight={0: 2.4, 1: 1}, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='warn', n_jobs=None, penalty='l2', random_state=None,
          solver='warn', tol=0.0001, verbose=0, warm_start=False)

In [66]:
model.predict(X_test)

array([0, 0, 0, ..., 0, 0, 0])

In [67]:
model.score(X_test, Y_test)

0.7101474515267618

In [68]:
confusion_matrix(Y_test, model.predict(X_test))

array([[24466,     0],
       [ 9986,     0]])

## Downsampling the imbalanced datasets

In [69]:
from sklearn.utils import resample

In [79]:
df_majority = df[df.SEVERITYCODE==0]
df_minority = df[df.SEVERITYCODE==1]
 
# downsample minority class
df_majority_dsampled  = resample(df_majority, 
                                 replace=False,     # sample without replacement
                                 n_samples=33485,    # to match minority class
                                 random_state=123) # reproducible results
 
# Combine minority class with downsampled majority class
df_dsampled = pd.concat([df_majority_dsampled, df_minority])
 
# Display new class counts
df_dsampled.head()

,SEVERITYCODE,SEVERITYCODE.1,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,SDOTCOLNUM,Angles,Cycles,Head On,...,Dark - No Street Lights,Dark - Street Lights Off,Dark - Street Lights On,Dawn,Daylight,Dusk,Other,Unknown,N,Y
33427,0,1,2,0,0,2,6346031.0,1,0,0,...,0,0,1,0,0,0,0,0,1,0
64349,0,1,3,0,0,3,8151040.0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
8977,0,1,4,0,0,2,4076019.0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
103130,0,1,2,0,0,2,11349018.0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
71189,0,1,2,0,0,2,8113009.0,1,0,0,...,0,0,0,0,0,1,0,0,1,0

In [80]:
df_dsampled['SEVERITYCODE'].value_counts() #checking the summary after downsampling

1    33485
0    33485
Name: SEVERITYCODE, dtype: int64

In [81]:
Y_d = df_dsampled['SEVERITYCODE']

In [82]:
X_d = df_dsampled.drop(['SEVERITYCODE'],axis=1)

In [83]:
Xd_train, Xd_test, Yd_train, Yd_test = train_test_split(X_d, Y_d, test_size=0.3)
w={0:20,1:20}
model = LogisticRegression(class_weight=w)

In [84]:
model.fit(Xd_train,Yd_train)

/usr/lib/python3/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight={0: 20, 1: 20}, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='warn', n_jobs=None, penalty='l2', random_state=None,
          solver='warn', tol=0.0001, verbose=0, warm_start=False)

In [85]:
model.score(Xd_test, Yd_test)

0.7723856453138221

In [86]:
confusion_matrix(Yd_test, model.predict(Xd_test))

array([[7018, 2979],
       [1594, 8500]])

## Unsampling the imbalanced datasets- this gave us the best model with a good accuracy and great confusion matrix

In [199]:
df_majority = df[df.SEVERITYCODE==0]
df_minority = df[df.SEVERITYCODE==1]
 
# Upsample minority class
df_minority_upsampled = resample(df_minority, 
                                 replace=True,     # sample with replacement
                                 n_samples=81352,    # to match majority class
                                 random_state=123) # reproducible results
 
# Combine majority class with upsampled minority class
df_upsampled = pd.concat([df_majority, df_minority_upsampled])
 
# Display new class counts
df_upsampled.head()

,SEVERITYCODE,SEVERITYCODE.1,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,SDOTCOLNUM,Angles,Cycles,Head On,...,Dark - No Street Lights,Dark - Street Lights Off,Dark - Street Lights On,Dawn,Daylight,Dusk,Other,Unknown,N,Y
1,0,1,2,0,0,2,6354039.0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
2,0,1,4,0,0,3,4323031.0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
6,0,1,2,0,0,2,8344002.0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
8,0,1,2,0,0,2,6166014.0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
10,0,1,2,0,0,2,6145029.0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [200]:
#check the summary after upsampling
df_upsampled['SEVERITYCODE'].value_counts()

1    81352
0    81352
Name: SEVERITYCODE, dtype: int64

In [201]:
Y_u = df_upsampled['SEVERITYCODE']

In [202]:
X_u = df_upsampled.drop(['SEVERITYCODE'],axis=1)
X.shape

(114837, 45)

In [204]:
Xu_train, Xu_test, Yu_train, Yu_test = train_test_split(X_u, Y_u, test_size=0.3)
w = {0:60, 1:60}
model = LogisticRegression(class_weight=w)

In [205]:
Xu_train.shape

(113892, 45)

In [206]:
model.fit(Xu_train,Yu_train)

/usr/lib/python3/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight={0: 60, 1: 60}, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='warn', n_jobs=None, penalty='l2', random_state=None,
          solver='warn', tol=0.0001, verbose=0, warm_start=False)

In [207]:
model.score(Xu_test, Yu_test)

0.9969474719331312

In [208]:
confusion_matrix(Yu_test, model.predict(Xu_test))

array([[24315,     7],
       [  142, 24348]])